#root {
   background-image: url("https://image.shutterstock.com/image-photo/romantic-dinner-260nw-544363546.jpg");
   background-size: cover;
   width: 100%;
   height: auto;
   background-repeat: no-repeat;
   background-position: center center;
}

.page-title {
    background-color: black;
}
.page {
    /* background-image: url("https://cdn.hipwallpaper.com/i/25/54/a3NTes.jpg"); */
    padding-bottom: 60%;
}
.card-title {
    font-size: 25px;
}
.card-text {
    font-size: 18px;
}
.profile-title {
    color: rgb(216, 213, 213);
    font-size: 65px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #fd4a4a;
    font-family: 'Amatic SC', cursive;
    margin-left: 160px;
    margin-right: 160px;
}
.page-title-name {
    text-align: center;
    background-color: black;
    color: #DA2929;
    font-family: 'Great Vibes', cursive;
    font-size: 75px;
}

.form-control {
    text-align: center;
    background-color: rgb(240, 222, 222);
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

.form-btn {
    text-align: center;
    background-color: #DA2929;
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    float: center;
}

  .form-group {
    width: 100%;
  }
.create-btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(146, 60, 172);
  color: rgb(224, 224, 224);
  padding: 8px;
  margin-top: -25px;
  margin-left: 82%;
}
.trend-btn {
    border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(146, 60, 172);
  color: rgb(224, 224, 224);
  padding: 8px;
  margin-top: -45px;
  margin-left: 90%;
}
