.main-card {
    float: right;
    background-color: rgb(240, 222, 222);
    color: black;
    font-family: 'Great Vibes', cursive;
    width: 500px;
    margin-bottom: -90%;
}
.prof-card {
    font-size: 20px;
}
.checked {
    margin-right: 15px;
}
.list-group-flush {
    font-size: 15px;
}
.date-night-date {
    color: rgb(75, 75, 250);
    /* margin-right: 6px; */
}
.del-btn {
    float: right;
}

h2 {
    color: black;
    font-family: 'Great Vibes', cursive;
}